.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}
.card-body div {
    margin-bottom: 10px;
}

.card-footer {
    padding: 10px 15px; 
    text-align: center;
    background-color: #fff;
    border-top: none;

}