<form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
  <h2 class="text-center text-primary">Sing UP</h2>
  <hr />
  <app-text-input [formControl]="$any(registerForm.controls['username'])" [lable]="'username'"></app-text-input>

  <app-text-input [formControl]="$any(registerForm.controls['email'])" [lable]="'email'"
    [type]="'email'"></app-text-input>


  <div class="mb-3">
    <label style="margin-right: 10px;">I am a:</label>
    <label class="form-check-label">
      <input type="radio" class="form-check-inline" value="male" formControlName="gender" />Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-inline" value="female" formControlName="gender" />feMale
    </label>
  </div>

  <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [lable]="'known As'"></app-text-input>

  <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [lable]="'date Of Birth'"
    [maxData]="maxDate"></app-date-picker>

  <app-text-input [formControl]="$any(registerForm.controls['city'])" [lable]="'city'"></app-text-input>

  <app-text-input [formControl]="$any(registerForm.controls['country'])" [lable]="'country'"></app-text-input>

  <app-text-input [formControl]="$any(registerForm.controls['password'])" [lable]="'password'"
    [type]="'password'"></app-text-input>

  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [lable]="'confirm password'"
    [type]="'password'"></app-text-input>

    @if(validationErrors){
      <div class="alert alert-danger text-start">
          <ul>
            @for(err of validationErrors;track $index){
              <li>{{err}}</li>
            }
            </ul>
      </div>
    }


  <div class="from-group text-center">
    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success me-2">Register</button>
    <button type="button" class="btn btn-default me-2" (click)="Cancel()">Cancel</button>
  </div>


</form>

<!-- <p> {{registerForm.value | json}}</p>
<p>{{registerForm.status |json}}</p> -->